:root {
  --background-color-light: #f9f9f9;
  --background-color-dark: #121212;
  --card-color-light: #ffffff;
  --card-color-dark: #1e1e1e;
  --text-color-light: #222222;
  --text-color-dark: #f1f1f1;
  --primary-color: #4f46e5;
  --primary-color-hover: #4338ca;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.dark-mode .note {
  background-color: var(--card-color-dark);
  color: var(--text-color-dark);
}

.dark-mode .search {
  background-color: var(--card-color-dark);
}

.dark-mode .search input {
  background-color: var(--card-color-dark);
  color: var(--text-color-dark);
}

.dark-mode .new {
    background-color: var(--card-color-dark);
}

.dark-mode .new textarea {
    background-color: var(--card-color-dark);
    color: var(--text-color-dark);
}

.dark-mode .header {
    color: var(--text-color-dark);
}

.dark-mode .save {
    background-color: var(--primary-color);
    color: var(--text-color-dark);
}

.dark-mode .save:hover {
    background-color: var(--primary-color-hover);
}
